{% extends 'base.html' %}
{% load static %}

{% block title %}LLM Chat | {% endblock %}

{% block content %}
<div id="app" class="chat-page-wrapper">
    <!-- Collapsible Sidebar -->
    <div class="sidebar" :class="{ 'open': isSidebarOpen }">
        <div class="sidebar-header">
            <h3>Models</h3>
            <div class="close-sidebar-btn" @click="toggleSidebar">←</div>
        </div>
        <ul>
            <template v-for="category in chatModels" :key="category.name">
                <!-- Category Item -->
                <li :class="{ 'category-item': category.subItems, 'expanded': category.isExpanded, 'active': isCategoryActive(category) }"
                    @click="handleCategoryClick(category)">
                    <span v-text="category.name"></span>
                </li>

                <!-- Sub Items -->
                <ul class="sub-menu" v-if="category.subItems && category.isExpanded">
                    <li v-for="subItem in category.subItems"
                        :key="subItem.name"
                        :class="{ 'active': subItem.apiUrl === currentModel.apiUrl }"
                        @click="selectModel(subItem)">
                        <span v-text="subItem.name"></span>
                    </li>
                </ul>
            </template>
        </ul>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Hamburger Sidebar Menu Button -->
        <Transition name="fade">
            <button class="sidebar-toggle" @click="toggleSidebar" v-if="hamburgerVisible">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </Transition>

        <!-- The Chat Container -->
        <div class="chat-container">
            <div class="chat-messages" ref="chatMessagesContainer">
                <div v-for="(message, index) in messages" :key="index"
                     :class="['message', message.sender]">
                    <span v-text="message.text"></span>
                </div>
            </div>

            <form class="chat-form" @submit.prevent="sendMessage">
                <input type="text" id="chat-input" v-model="newMessage" placeholder="Type your message here..." autocomplete="off">
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}


{% block footer_scripts %}
{{ sidebar_menu_choices|json_script:"sidebar-menu-choices" }}
<script type="text/javascript">
    var sidebarMenuChoices = JSON.parse(document.getElementById('sidebar-menu-choices').textContent);
</script>
<script type="text/javascript" src="{% static 'js/chat_bot/chat_bot_vue.js' %}"></script>
{% endblock footer_scripts %}
